<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/cow-data.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Information</title>
</head>
<body>
    <h1>Medical records</h1>
    
</body>

</html>
