body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

#other-pages {
    margin-bottom: 20px;
}

.button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #28a745;
}

h1, h3 {
    color: #444;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#wrapper {
    display: flex;
    margin-top: 20px;
}

#search-container {
    background-color: white;
    padding: 15px;
    width: 320px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

#image-container img {
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#containers-wrapper {
    display: flex;  /* This turns the container into a flex container */
    align-items: flex-start; /* Aligns items to the start of the flex line */
    justify-content: flex-start; /* Aligns items to the left */
    gap: 20px;/* Add margin as necessary */
}

#calf-container, #observations-container {
    flex: 1; /* Makes each container take equal width */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 20px;
}


#main-container{
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 20px;
    margin-bottom: 10px; 
}

#allmedical-container{
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
}